[submodule "deps/utils"]
	path = deps/utils
	url = https://github.com/mdecicco/utils.git
[submodule "deps/minhook"]
	path = deps/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "deps/libffi"]
	path = deps/libffi
	url = https://github.com/mdecicco/libffi.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
